@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.gallery-heading {
    margin: 50px;
}
.gallery-heading h3{
    font-size: 40px;
    font-weight:bolder ;
}
.main-gallery .gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.main-gallery .gallery .box{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.box img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}